Repository BumgeunSong/blog-reaction-friends, pull requests merged in 2022-06, with the labels that each got.

#2 [22.06.13] 오늘의 회고
  Jee/0613.MD
Labels: Jee

#1 [22.06.12] 리팩토링 후기 시작 (sample)
  eddy/리팩토링_후기.md
Labels: Eddy

#3 [월] 등산의 맛
  gucci/tasteOfHiking.md
Labels: Gucci

#4 [22.06.13] 회고
  0613.md
Labels: Alex

#5 [22.06.13] 리팩토링 후기 챕터 1 시작
  eddy/리팩토링_후기.md
Labels: Eddy

#6 [22.06.13] 내 장점은 포기하기 시작
  dale/내 장점은 포기하기.md
Labels: Dale

#8 [220613] 프로젝트 고민 정리
  Ocean/20220613회고.md
Labels: Ocean

#7 [22.06.14] 정규표현식
  piggy/README.md
Labels: Piggy

#9 [22.06.14] 회고
  Alex/0613.md
  Alex/0614.md
Labels: Alex

#10 [화] MVVM 요약본
  gucci/0614.md
Labels: Gucci

#12 [22.06.14] 앱 구조 같이 논의하기.
  piggy/README.md
Labels: Piggy

#11 [22.06.14] 리팩토링 후기 챕터 1-2
  eddy/리팩토링_후기.md
Labels: Eddy

#15 [22.06.14] 회고
  Ocean/20220614회고.md
Labels: Ocean

#13 [22.06.14] 오늘의 회고
  Jee/0614.MD
Labels: Jee

#16 [22.06.15] 회고
  Alex/0614.md
  Alex/0615.md
Labels: Alex

#17 Git PR Error 해결
  piggy/README.md
Labels: Piggy

#18 [22.06.15] 리팩토링 챕터 2 시작 & Struct를 캡처하는 클로저 보충
  eddy/리팩토링_후기.md
Labels: Eddy

#20 [수] network request 재사용성
  gucci/0615.md
Labels: Gucci

#22 [22.06.15] 세번째 포기
  dale/내 장점은 포기하기.md
Labels: Dale

#23 [22.6.16] 회고
  Alex/0616.md
Labels: Alex

#27 [220616] 다른사람의 설계 이해하기
  piggy/README.md
Labels: Piggy

#25 [22.06.16] Delegate, DataSource 합쳐서 하위 Controller로 만들기
  eddy/리팩토링_후기.md
Labels: Eddy

#26 [목] Accept header 와 content-type header 의 차이점
  gucci/0616.md
Labels: Gucci

#30 [220617] piggy 한주회고
  piggy/README.md
Labels: Piggy

#31 [22.06.17] 이사소감.md
  dale/이사소감.md
Labels: Dale

#32 [22.6.17] 회고
  Alex/0617.md
Labels: Alex

#38 [22.6.20] 회고
  Alex/0620.md
Labels: Alex

#36 [22.06.20] 설계 vs 구현에 대한 생각
  piggy/README.md
Labels: Piggy

#37 [22.06.20] 오늘의 회고
  Jee/0620.MD
Labels: Jee

#35 [22.06.20] 리팩토링 챕터 3 시작
  eddy/리팩토링_후기.md
Labels: Eddy

#41 [22.06.20] 오늘의 회고
  Ocean/20220620회고.md
Labels: Ocean

#39 [22.6.20] 네번째 포기
  dale/내 장점은 포기하기.md
Labels: Dale

#42 [22.6.21] 회고
  Alex/0621.md
Labels: Alex

#44 [22.06.21] 프로세스와 스레드
  eddy/process.md
Labels: Eddy

#43 [220621] Key 숨기기.
  piggy/README.md
Labels: Piggy

#46 [화] 마지막이라는 실감 외 2
  gucci/0622.md
Labels: Gucci

#49 [22.6.22] 회고
  Alex/0622.md
Labels: Alex

#50 [22.06.22] 리팩토링 챕터 3: DI Container 추가
  eddy/Inversion.png
  eddy/inversion_highlight.png
  eddy/separate_dataloading.png
  eddy/separate_datasource.png
  eddy/리팩토링_후기.md
Labels: Eddy

#52 [220622] piggy 오늘의 git 삽질
  piggy/README.md
Labels: Piggy

#54 [22.06.22] 오늘의 회고
  Ocean/20220622회고.md
Labels: Ocean

#56 [22.06.23(재업)] 리뷰어와 필담
  gucci/chattingWithReviewer.md
Labels: Gucci

#57 [22.6.23] 회고
  Alex/0623.md
Labels: Alex

#59 [220623] piggy AutoLayout 다시보기
  piggy/README.md
Labels: Piggy

#55 [22.06.23] 오늘의 회고
  Jee/0623.MD
  Jee/0626.MD
Labels: Jee

#58 [22.06.23] 초안 다듬기 작업
  eddy/refactoring_posting.md
Labels: Eddy

#61 [22.06.24] 용산 타건샵 방문기
  gucci/0624.md
Labels: Gucci

#62 [226.25] 어제 회고
  Alex/0624.md
Labels: Alex

#64 [220624] piggy 주간 회고
  piggy/README.md
Labels: Piggy

#68 [22.6.27] 회고
  Alex/0627.md
  Alex/0628.md
Labels: Alex

#70 [22.06.27] piggy DIContainer의 Flow
  piggy/README.md
Labels: Piggy

#69 22.06.27: 메타타입 학습정리
  gucci/metaType.md
  gucci/studyPlan.md
Labels: Gucci

#71 Create 20220627회고.md
  Ocean/20220627회고.md
Labels: Ocean

#65 [22.06.27] 오늘의 회고
  dale/22.6.27.md
Labels: Dale

#74 [220628] DIContainer 메모리 문제 해결해보기.
  piggy/README.md
Labels: Piggy

#78 [22.06.29] 오늘의 회고
  Jee/0627.MD
Labels: Jee

#81 [22.06.29] 회고
  dale/22.6.29.md
Labels: Dale

#79 [22.6.29] 회고
  Alex/0629.md
Labels: Alex

#80 [220629] 회고
  Ocean/20220629회고.md
Labels: Ocean
