Repository BumgeunSong/blog-reaction-friends, pull requests merged in 2022-08, with the labels that each got.

#177 2022.08.01: 취업꿀팁
  gucci/0801.md
Labels: Gucci

#178 [22.08.01] C 언어
  eddy/C_language.md
Labels: Eddy

#179 [220801] 사회초년생을 위한 짧막 부동산 상식.
  piggy/README.md
Labels: Piggy

#180 [220801] Step4 리팩토링 회고(미완성)
  Ocean/20220801회고.md
  Ocean/20220802회고.md
Labels: Ocean

#181 [22.08.02] 저수준 파일 입출력
  eddy/sys_programming_2
Labels: Eddy

#182 [22.08.04] 고수준 파일 입출력
  eddy/sys_programming_2.md
  eddy/sys_programming_3.md
Labels: Eddy

#183 [220804] 리팩토링 정리 마무리
  Ocean/20220804회고.md
Labels: Ocean
